# Bundler
/.bundle/
/bundle/
/bin/
/vendor/gems/

# Berkshelf
/cookbooks/
Berksfile.lock
Gemfile.lock

# Librarian
/tmp/
Cheffile.lock

# Kitchen
/.kitchen/

# Vagrant
.vagrant

# Chefspec
/spec/reports/

# Emacs backup files
*~
.kitchen.local.yml
